@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.start-page{
    max-width: 1320px;
    border: 2px solid;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;

background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    
}

/* 1st page styles section */
.start-page{
    background-color: rgba(0,0,0,0.4);
    background-image: url('images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
}
.start-page div p{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.start-page div h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}
.start-page div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    
}
/* 65% section */
main .percent-section .head{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;


}
main .percent-section .para{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;

}
main .percent-section .headtwo{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;

}
main .percent-section .section-image{
 width: 802px;
 height: 500px;
 border: 2px solid black;
 border-style: dashed;
 
}
main .percent-section{
    
margin: o auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-top: 100px;
}
/* welcome section start */
main .welcome .leftside{
    width: 50%;
    margin-bottom: 126px;
}

main .welcome{
    max-width: 1320px;
    border:2px solid black;
    min-height: 600px;
    border-style: dashed;
    margin: 0 auto;margin-top: 100px;
    border-radius: 16px;

    background-color: rgba(0,0,0,0.1);

background-image: url('images/Vectorrr.png');
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
}
main .welcome .welcome-head{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
margin-top: 126px;
margin-left: 126px;
}
main .welcome .welcome-para{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 26px;
margin-left: 126px;
}
main .welcome .welcome-p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 34px ;
margin-left: 130px;
}
main .welcome .welcome-image{
width: 50%;
margin-top: 67px;
display: flex;
justify-content: center;



}
main .welcome .welcome-image .image-wh{
    border: 2px solid white;
    border-style: dashed;
    position: absolute;
    width: 349.16px;
height: 464.65px;
}

main .welcome{
    
    display: flex;
    gap: 300px;
    
}
/* welcome section End */